# Ignore everything
*

# Allow files and directories
!/Requirements.txt
!/Dockerfile
!/celeb_parents.py
!/data/full/info.csv
!/data/full/faiss_flat_ip.index
!/data/full/faiss_flat_ip_female.index
!/data/full/faiss_flat_ip_male.index
